body {
    background-color: #DCDCDC;
}


/* Toilet Listings CSS */
li.listing {
    padding: 5px; 
}
.listing a {
    color: #333333; 
    overflow: hidden; 
    padding: 0px; 
}

.nav-pills > li.listing > a {
    padding: 0px; 

}

/* Reviews CSS */
.review {
    margin-bottom: 10px; 
    padding-bottom: 10px; 
    border-bottom: 1px dashed #aeaeae; 
}
.star-ratings {
    text-align: left;
    color: #FF9900;
}
.panel-button { 
    font-weight: bold;  
    color: black;
    display: block; 
    text-align: center; 
}
.panel-button:hover { text-decoration: none; }
#leaveReview {
    clear: both;
    overflow: hidden; 
    margin-top: 5px; 
}
.leaveReview label {
    font-size: 1.2em;
}

.leaveReview .rateit { margin-top: 9px; }