body {
    background-color: #DCDCDC;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}


/* Form Errors */
ul.parsley-error-list { margin: 0px; list-style: none; padding: 0px; }
ul.parsley-error-list li, .error { 
    margin-top: 5px; 
    margin-bottom: 5px; 
    padding: 5px; 
    font-size: 0.8em; 
    background-color: #F2DEDE;
    color: #B94A48; 
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}

/* Toilet Listings CSS */
li.listing {
    padding: 5px; 
}
.listing a {
    color: #333333; 
    overflow: hidden;
    padding: 0px; 
}

.nav-pills > li.listing > a {
    padding: 0px; 

}

/* Reviews CSS */
.review {
    margin-bottom: 10px; 
    padding-bottom: 10px; 
    border-bottom: 1px dashed #aeaeae; 
}
.star-ratings {
    text-align: left;
    color: #FF9900;
}
.panel-button { 
    font-weight: bold;  
    color: black;
    display: block; 
    text-align: center; 
}

.upvote_button:hover, .downvote_button:hover
 {
    display: block;
    background-color:#dddddd; 
    text-decoration: none; 
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}

.panel-button:hover { text-decoration: none; }

#leaveReview {
    clear: both;
    overflow: hidden; 
    margin-top: 5px; 
}

.leaveReview label {
    font-size: 1.2em;
}

.leaveReview .rateit { margin-top: 9px; }
