{% extends "standard.html" %}

{% block content %}

<form action="/query/put/" method="post">{% csrf_token %}
{{ forms.as_p }}
<input type="submit" value="Submit" />
</form>

<script type='text/javascript'>
/*
$('#test_add').submit(function(e){
  e.preventDefault();
  var j = tapi

});
*/

</script>


<form action="/api/toilet/create/" method="post" id="test_add">
  {% csrf_token %}
  <label>Name</label><input type="text" name="name" id="name" />
  <input type="submit" value="Submit" />
</form>

{% endblock %}
