<DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.png">

    <title>Signin Page for Toilet Mapper</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template 
    NOTE: OUR TEAM MAY NEED TO CHANGE THIS???-->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  <style type="text/css"></style></head>

  <body>

    <div class="container">

      <form class="form-horizontal" method="post">
        <h2 class="form-heading">Create A User Account</h2>

          <!-- First Name input-->
          <div class="control-group">
            <label class="control-label" for="firstnameIn">First Name</label>
            <div class="controls">
              <input id="firstnameIn" name="firstnameIn" type="text" placeholder="Jeremy" class="form-control input-xlarge" required="">
            </div>
	  <div>

          <!-- Last Name input-->
          <div class="control-group">
            <label class="control-label" for="lastnameIn">Last Name</label>
            <div class="controls">
              <input id="lastnameIn" name="lastnameIn" type="text" placeholder="Pooper" class="form-control input-xlarge" required="">
            </div>
	  <div>



	  <!-- Username input-->
          <div class="control-group">
            <label class="control-label" for="usernameIn">Username</label>
            <div class="controls">
              <input id="usernameIn" name="usernameIn" type="text" placeholder="ex. toiletPro91" class="form-control input-xlarge" required="">
            </div>
	  <div>

          <!-- Email Address input-->
          <div class="control-group">
            <label class="control-label" for="emailinput">Email</label>
            <div class="controls">
              <input id="emailinput" name="emailinput" type="text" placeholder="ex. toiletPro@gmail.com" class="form-control input-xlarge" required="">
            </div>
	  </div>

          <!-- Password input-->
          <div class="control-group">
            <label class="control-label" for="passwordinput">Password</label>
            <div class="controls">
              <input id="passwordinput" name="passwordinput" type="password" placeholder="" class="form-control input-xlarge" required="">
            </div>
	  </div>

          <!-- Button -->
          <div class="control-group">
          <label class="control-label" for="singlebutton"></label>
          <div class="controls">
          <button id="singlebutton" name="singlebutton" class="btn btn-primary">Create Account</button>
          </div></div>

          <br>
          <br>
	  <br>
	  <a href="/signin" class="btn btn-inverse btn-xs btn-block">Already a user? Sign In</a>
      </form>
    </div> <!-- /container -->


  </body>
</html>
