<DOCTYPE html>
{% extends "standard.html" %}

{% block content %}

  <div class="container">

    <form class="form-horizontal col-lg-5 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" method="post">
      <h2 style="text-align:center" class="form-heading">Create A User Account</h2>

      <!-- First Name input-->
      <div class="control-group">
        <label class="control-label" for="firstnameIn">First Name</label>
        <div class="controls">
          <input id="firstnameIn" name="firstnameIn" type="text" placeholder="Jeremy" class="form-control input-xlarge" required="">
        </div>
      <div>

      <!-- Last Name input-->
      <div class="control-group">
        <label class="control-label" for="lastnameIn">Last Name</label>
        <div class="controls">
          <input id="lastnameIn" name="lastnameIn" type="text" placeholder="Pooper" class="form-control input-xlarge" required="">
        </div>
      <div>

      <!-- Username input-->
      <div class="control-group">
        <label class="control-label" for="usernameIn">Username</label>
        <div class="controls">
          <input id="usernameIn" name="usernameIn" type="text" placeholder="ex. toiletPro91" class="form-control input-xlarge" required="">
        </div>
      <div>

      <!-- Email Address input-->
      <div class="control-group">
        <label class="control-label" for="emailinput">Email</label>
        <div class="controls">
          <input id="emailinput" name="emailinput" type="text" placeholder="ex. toiletPro@gmail.com" class="form-control input-xlarge" required="">
        </div>
      </div>

      <!-- Password input-->
      <div class="control-group">
        <label class="control-label" for="passwordinput">Password</label>
        <div class="controls">
          <input id="passwordinput" name="passwordinput" type="password" placeholder="" class="form-control input-xlarge" required="">
        </div>
      </div>

      <!-- Button -->
      <div class="control-group">
        <label class="control-label" for="singlebutton"></label>
        <div class="controls">
          <button style="text-align:center" id="singlebutton" name="singlebutton" class="btn btn-primary">Create Account</button>
        </div>
      </div>

      <br>
      <br>
      <br>
      <a href="/signin" class="btn btn-inverse btn-xs btn-block">Already a user? Sign In</a>
    </form>
  </div> <!-- /container -->

{% endblock %}
