{% extends "standard.html" %}


{% block content %}

<div class="container">
<h1>FAQ</h1>

<span class='icon-key'>Requres login</span>

<h2>What is "Restroom Mapper"?</h2>
<p>Restroom Mapper is a restroom locator and reviewing platform for restrooms across the world! It helps people find the right restrooms for them based on reviews, restroom flags and warnings.</p>

<h2>Do I need an account?</h2>
<p>You do not need an account to access the Restroom Mapper site and browse the restroom listings. If you would like to add and review restrooms you must create an account.
It’s easy and anonymous. Login or create an account by clicking the login/create-account button in the upper right of the navigation bar.</p>

<h2>How do I add a restroom? <span class='icon-key' /></h2>
<p>To add a restroom, click on the add restroom button on the navigation bar. Once on the add restroom page, you can assign a name, location, and description. You can use the provided Restroom Map to drop a pin on the exact restroom location.</p>

<h2>How do I find a nearby restroom?</h2>
<p>There are several ways to find a nearby restroom. You can do this most easily by clicking on the “Nearby” button on the navigation bar. This page will list all restrooms close to you based on available GPS information. Remember, if your GPS is turned off, it will be much more inaccurate.</p>

<h2>How do I rate a restroom? <span class='icon-key' /></h2>
<p>Once you’ve done that, you can click on a restroom on the Restroom Map or search for it.Pick the number of stars you think that restroom deserves and provide a description of your experience.</p>

<h2>What are restroom flags and how do I use them? <span class='icon-key' /></h2>
<p>Restroom flags are used to identify restrooms for consistent characteristics, positive or negative. For example, if a restroom is consistently out of toilet paper, users can flag it to warn other users. On the other hand users could flag it for outstanding cleanliness.
You can add these flags on the restroom page the same way you add ratings.</p>

</div>
{% endblock %}
