{% extends "standard.html" %}

{% block content %}

<style type="text/css">
    #gMap {
       height:100%; 
       width:100%;
    }
    #content {
       height:100%;
    }
</style>
   

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=true"></script>

<script>
google.maps.visualRefresh = true;
var map;
var initialLocation;
var marker;
var santaCruz = new google.maps.LatLng(36.973, -122.029);
var LA = new google.maps.LatLng(34.052, -118.243);

function initialize() {
    var options = {
        zoom:13,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("gMap"), options);
    google.maps.event.addListener(map, "click", function () {
        infowindow.close();
    });

    if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(function(position) {
          initialLocation = new google.maps.LatLng(position.coords.latitude, 
                                                 position.coords.longitude);
	  map.setCenter(initialLocation);
          createMapMarkers(initialLocation);
        }, function () {
          handleGeolocation(true);
        });
    } else {
        handleGeolocation(false);
    }
}


function handleGeolocation(supportFlag) { 
    if (supportFlag == true) {
          alert("Geolocation Service Failed. Placing you in LA.");
    } else {
          alert("Browser Doesn't Support Geolocation. Placing you in LA.");
    }
    map.setCenter(LA);
}
    
function createMapMarkers(gps) {
    var image = '{{ STATIC_URL }}images/currentlocation.png';
    var marker = new google.maps.Marker({
       position: gps,
       animation: google.maps.Animation.DROP,
       title: "Your Current Location",
       icon: image
    });
    // add markers to the map
    addEventToMarker(marker);
    marker.setMap(map);
}

var infowindow;
function addEventToMarker(marker) {
    google.maps.event.addListener(marker, "click", function() {
        infowindow = new google.maps.InfoWindow({
            map:map,
	    content: 'Current Location'
	});
	infowindow.open(map, marker);
    });
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

<div id="gMap"></div>

{% endblock %}



