{% extends "standard.html" %}

{% block content %}
    



<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
<style type="text/css">
    #gMap {
       height:100%; 
       width:100%;
    }
    #content {
       height:100%;
    }
</style>
<script>
function initialize()
{
    var mapProp = {
        center:new google.maps.LatLng(36.973, -122.029),
        zoom:11,
        mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    var map=new google.maps.Map(document.getElementById("gMap")
                                ,mapProp);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="gMap"></div>




{% endblock %}
