{% extends "standard.html" %}

{% block endhead %}

    <script> 
    
    function homeToiletListings(){
        if(window.current_lat === undefined
           || window.current_lng === undefined){
            setTimeout("homeToiletListings()", 50);
            return;
        }
        var sb = squareBounds(window.current_lat, window.current_lng, 10);
        var xmin, xmax, ymin, ymax;

        var smallLeft = (sb.x_left < sb.x_right);
        xmin = smallLeft ? sb_x.left : sb.x_right;
        xmax = smallLeft ? sb.x_right : sb.x_left;

        var smallBottom = (sb.y_bottom < sb.y_top);
        ymin = smallBottom ? sb_y.bottom : sb.y_top;
        ymax = smallBottom ? sb.y_top : sb.y_bottom;

        loadToiletListings('toilet-listings', 10
                           , {
                               current_lat: window.current_lat
                               ,current_lng: window.current_lng
                               ,filters: {
                                   lat__gt: xmin
                                   ,lat__lt: xmax
                                   ,lng__gt: ymin
                                   ,lng__lt: ymax
                               }});
    }
  homeToiletListings();
</script>

    <script type="text/javascript">
    $(document).ready(function(){
        $("#restroom_search").bind("keyup keypress", function(event) {
            var code = event.keyCode || event.which;
            if (code == 13){ 
                event.preventDefault();
                do_search();
                return false;
                //delay(do_search(), 2000);
                //do_search();
            }else{
                //do_search();
                delay(do_search, 200);
            }
        });

    function do_search(){
            //REMOVE FOR LIVESEARCH
            $("#toilet-listings").empty();
            //This jankey, function is just to reset some globals that are
            //currently breaking multiple calls to loadToiletListings. 
            //This probably can be removed in the future.
            searchReset();
            
            
            loadToiletListings('toilet-listings', 10, {
                filters:{
                    name__icontains: $("#search").val()

                }});
            return false;
        }
    
    });
    </script>
{% endblock %}

{% block content %}

<div class='container'>
  <h1>Welcome to Toilet Mapper</h1>

<div id=searcher>
    <form id="restroom_search" name="restroom_search">
        <input id="search" type="text" required="required" placeholder="Search for a restroom" size="30"/>
    </form>
</div>

  <ul id='toilet-listings' class='nav nav-pills nav-stacked col-lg-9 col-md-9 col-sm-9 col-xs-12'>

  </ul>

</div>

{% endblock %}
