<!DOCTYPE html>
{% extends "standard.html" %}

{% block endhead %}

<script type='text/javascript'>

  function login_response(j){
    j.done(function(data){  
     if(data.hasOwnProperty("error")) form_error('login-form', data.error);
     else window.location = "/";
    });
    j.fail(function(data, d1, d2){
    });
  }
  
  tapi_auto_form('login-form', {noun: "user", verb: "login"}, login_response);
</script>

{% endblock %}

{% block content %}

    <div class="container col-lg-4 col-md-5 col-lg-offset-4 col-md-offset-3 col-sm-6 col-sm-offset-3">
      <h2 style="text-align:center" class="form-signin-heading">Toilet Mapper Sign In</h2>
      <form id="login-form" class="form-signin">
	{% if GET.error  %}
	<div class='error'>
	  {{ GET.error }}
	</div>
	{% endif %}

        <input name="username" type="text" class="form-control" placeholder="Username" autofocus="">
        <input name="password" type="password" class="form-control" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
	<div style="text-align:center; margin-top: 25px; ">
	<a href="/signup">No Account? Create An Account</a>
	</div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

{% endblock %}
