{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/standard.css" type="text/css" />

<!-- bootstrap css and js -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- end bootstrap css and js -->

{% endblock %}



{% block body %}
<div id="header">{% block header %}{% endblock %}</div>

<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">{% block footer %}{% endblock %}</div>
{% endblock %}
