{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/standard.css" type="text/css" />

<!-- jquery js -->
<script src='http://code.jquery.com/jquery-2.0.3.min.js'></script>

<!-- bootstrap css and js -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- end bootstrap css and js -->

<!-- fontawesome css and js -->
<link rel='stylesheet' href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">


<!-- handlebars js -->
<script src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js'></script>

<!-- jquery cookies plugin -->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js'></script>

<!-- django csrf code -->
<script src='/static/js/django_csrf.js'></script>
<script type='text/javascript'>
  //Calling it here on every page for now. Don't see any
  // security holes or real inefficiency in doing so.
  setup_django_csrf();
</script>

<!-- parsley form validation -->
<script src='//cdnjs.cloudflare.com/ajax/libs/parsley.js/1.1.16/parsley.min.js'></script>

<!-- our UI code -->
<script src='/static/js/toilet_ui.js'></script>

<!-- our API code -->
<script src='/static/js/middletier_api.js'></script>

<!-- our review filter code -->
<script src = '/static/js/filter.js'></script>

<!-- our Map Utils -->
<script src='/static/js/mapUtils.js'></script>

<!-- Google Maps API -->
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

<!-- our Google Map Interface --> 
<script type="text/javascript"
    src="{{STATIC_URL}}js/map.js"></script>


{% if user.is_authenticated %}
<script type='text/javascript'>
  $(document).ready(function(){
    $('#logout').click(function(){
    var j = tapi({
        noun: "user"
        ,verb: "logout"
      });
      j.done(function(d){ console.log(d); window.location = "/"; });
    });
  
  current_pos(function(pos){
    console.log("CURRENT POS");
    console.log(pos);
    window.current_lat = pos.coords.latitude;
    window.current_lng = pos.coords.longitude;
  });
  });
</script>
{% endif %}

{% block endhead %}{% endblock %}
{% endblock %}



{% block body %}
<div id="header">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Toilet Mapper</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/nearby"><span class= 'icon-large icon-map-marker' style='margin-right: 5px'></span>Nearby</a></li>
      <li class="active"><a href="/emergency"><span class= 'icon-large icon-bolt' style='margin-right: 5px; color: red;'></span><span style='color: red;'>I'm Feeling Lucky</span></a></li>
      <li class="active"><a href="/addrestroom"><span class= 'icon-large icon-plus' style='margin-right: 5px'></span>Add</a></li>
      <li class="active"><a href="/gmap"><span class= 'icon-large icon-picture' style='margin-right: 5px'></span>Global Map</a></li>
      <li class="active"><a href="/faq"><span class= 'icon-large icon-question-sign' style='margin-right: 5px'></span>FAQ</a></li>
    </ul>
    <div class="navbar-right">
     <div class="span12 paginated-centered">
       {% if not user.is_authenticated %}
         <a href="/signup" class="btn btn-default navbar-btn">Create An Account</a>
         <a href="/signin" class="btn btn-default navbar-btn">Sign In</a>
       {% endif %}

       {% if user.is_authenticated %}
	 <a id="logout" href="#" class="btn btn-default navbar-btn">Logout</a>
       {% endif %}
     </div>
    </div>
  </div> 
</nav>
{% block header %}{% endblock %}</div>

<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">{% block footer %}{% endblock %}</div>
{% endblock %}
