{% extends "base.html" %}


{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/standard.css" type="text/css" />

<!-- jquery js -->
<script src='http://code.jquery.com/jquery-2.0.3.min.js'></script>

<!-- bootstrap css and js -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- end bootstrap css and js -->

<!-- fontawesome css and js -->
<link rel='stylesheet' href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"></style>


<!-- handlebars js -->
<script src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js'></script>

<!-- jquery cookies plugin -->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js'></script>

<!-- django csrf code -->
<script src='/static/js/django_csrf.js'></script>
<script type='text/javascript'>
  //Calling it here on every page for now. Don't see any
  // security holes or real inefficiency in doing so.
  setup_django_csrf();
</script>


{% endblock %}



{% block body %}
<div id="header">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Poopl.io</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#"><span class= 'icon-large icon-female' style='margin-right: 5px'></span>Link</a></li>
      <li class="active"><a href="#"><span class= 'icon-large icon-comments-alt' style='margin-right: 5px'></span>Link</a></li>
      <li class="active"><a href="#"><span class= 'icon-large icon-map-marker' style='margin-right: 5px'></span>Link</a></li>
    </ul>
    <div class="navbar-right">
     <div class="span12 paginated-centered">
       <a href="/create" class="btn btn-default navbar-btn">Create An Account</a>
       <a href="/signin" class="btn btn-default navbar-btn">Sign In</a>
     </div>
    </div>
  </div> 
</nav>
<br/><Br/><br/>
{% block header %}{% endblock %}</div>

<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">{% block footer %}{% endblock %}</div>
{% endblock %}
